flask==3.0.3
kubernetes==30.1.0
requests==2.32.3
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib>=3.9.1
seaborn==0.13.2
joblib==1.4.2
onnx==1.16.1
onnxruntime==1.18.1
skl2onnx==1.17.0
python-dotenv==1.0.1